<!DOCTYPE html>
<html>
<head>
  <title>Activeadmin custom layout</title>
  <%= stylesheet_link_tag    "activeadmin_custom_layout/application", media: "all" %>
  <%= javascript_include_tag "activeadmin_custom_layout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
